name: Build Docker image

on:
  workflow_dispatch:
  push:
    branches:
    - main
  schedule:
    - cron: "0 7 * * 1"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push to GitHub Packages
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: |
          ghcr.io/sekoia-io/sekoiaio-docker-concentrator:latest
          ghcr.io/sekoia-io/sekoiaio-docker-concentrator:2.7.0
